<div class="container">

  <% if !current_user %>
    <a href='/sign_up'>Sign Up</a>
    <form action='/login' method='post'>
      <input type='text' name='first_name' placeholder='Name'>
      <input type='password' name='password' placeholder='Password'>
      <input type='submit' value='Log In'>
    </form>
  <% elsif current_user %>
    <a href='/sign_out'>Sign out</a>

    <a href='/event/new'>Create new event</a>
    <% current_user.created_events.each do |event| %>
      <p>Name: <%= event.name%> Location: <%= event.location %>
      <br> Starts at: <%= event.starts_at%> Ends at: <%= event.ends_at%></p>
      <a href='/event/<%= event.id %>/edit'>edit this event</a>
      <a href='/event/<%= event.id %>/delete'>delete this event</a>
    <% end%>
  <% end %>
</div>
